body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

h1 {
    font-size: 2.5em;
    color: #333;
}

#timer {
    font-weight: bold;
    color: #007BFF;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

