<!DOCTYPE html>
<html lang="en">
<%- include("parts/head", {title: title}) %>
<body>
    <div class="container panel">
        <h1>Enter Student's Name</h1>
        <input type="text" id="usernameInput" class="panel input-field" placeholder="Student's name" />
        <button class="panel" id="submitButton">Submit Name</button>
        <p id="errorMessage" class="panel_text warn"></p>
        <p id="crntName" class="panel_text"></p>
    </div>
</body>

<script>
    const socket = io();
    const submitButton = document.getElementById('submitButton');
    const usernameInput = document.getElementById('usernameInput');
    const errorBox = document.getElementById('errorBox');
    const errorMessage = document.getElementById('errorMessage');
    const reenterButton = document.getElementById('reenterButton');
    const suffixButton = document.getElementById('suffixButton');
    const crntName = document.getElementById('crntName');

    // Submit the username
    submitButton.addEventListener('click', () => {
        const username = usernameInput.value.trim();
        crntName.innerHTML = "";
        errorMessage.innerHTML = "";
        if (username != "") crntName.innerHTML = username + " is playing.";
        socket.emit('update-username', { username: username});
    });
    // Handle when the username exists
    socket.on('error', (err) => {
        if (err.code = 1) {
            errorMessage.setAttribute("class", "panel_text warn");
            errorMessage.textContent = err.text;
        }
        else if (err.code = 2) {
            errorMessage.setAttribute("class", "panel_text error");
            errorMessage.textContent = err.text;
        }
        else if (err.code = 3) {
            errorMessage.setAttribute("class", "panel_text error");
            errorMessage.textContent = err.text;
        }
    });
</script>
</html>
